@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {

    padding: 0px 240px;
}
body{
    margin: 0;
    border: 0;
}

/* common  css */
.primary-button {
    border: 0px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.tittle-text{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.title-text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navigation {
    display: flex;
    /* width: 1920px;
height: 130px; */
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    
    border: 2px solid salmon;

}

nav>ul {
    display: flex;
}

.logo , .footer-logo {
    display: flex;
    align-items: center;
    /* border: 2px solid salmon; */
    width: 35vh;
    justify-content: space-between;

}

.logo-picture , .footer-logo-picture {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.logo-tittle , .footer-logo-tittle {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav li {
    /* border: 2px solid salmon; */
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-social-media {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  */
.goat-banner-container {

    display: flex;
    /* border: 2px solid salmon; */
    margin-top: 50px;
}

.goat-banner-tittle {
    background-image: url(../images/Group\ 14.png);
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    text-align: center;
}

.gbta {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.gbtb {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gbtc {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.rogue-button {
    border: 0px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

.goat-banner-image {
    width: 100%;
    /* height: 50vw; */
}

/* online games css */
.online-games-container {
    text-align: center;
}

.online-games-pics {
    display: flex;
    justify-content: space-between;
}

.online-games-pics div {
    flex-basis: 25%;
    text-align: center;
}

.img-container {
    position: relative;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container .play-button {
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}


.img-3:hover {
    filter: brightness(80%);
}


/* Play Instantly CSS */


.play-instantly-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 15px;
  }
  
  .play-instantly-tittle {
    
    flex: 1; 
    padding: 15px;  
    text-align: center;
  }
  
  .play-instantly-images {
    
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-instantly-images2{
    position: relative;
    bottom: -180px;
    right: 600px;
  }
  .play-instantly-images1 img,
  .play-instantly-images2 img {
    border-radius: 8px;
    margin: 7.5px; 
    max-width: 100%; 
    max-height: 100%; 
  }
  

/* card css */
.card-container {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 150px;
    gap: 10px;
}

.card-images {
    display: flex;
    gap: 10px;
}
.card-images:hover {
    border: 2px solid rgb(138, 50, 108);
    border-radius: 50px;
}

.card-images:hover p {
    color: pink;
}
/* footer css */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B0223;
    color: #FFF;
}

.footer-content2 , .footer-content1 , .footer-content3 {
    display: flex;
    align-items: center;
    
    justify-content: center;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
}






@media screen and (max-width : 576px) {
    header {
        padding: 20px
    }

    .navigation {
        flex-direction: column;
        padding: 10px;
    }

    .nav-links {
        justify-content: center;
    }

    .logo {
        width: auto;
        margin-bottom: 20px;
    }

    .logo-picture {
        width: 60px;
        height: auto;
    }

    .logo-tittle {
        font-size: 30px;
    }

    nav li {
        margin: 10px 0;
    }

    .nav-social-media {
        width: 100%;
        max-width: 250px;
    }


    .online-games-pics , r{
        flex-wrap: wrap;
    }

    .online-games-pics div,  {
        flex-basis: 50%;
    }
    .footer-content2, .footer-content1, .footer-content3 {
        flex-direction: column;
        gap: 20px; 
        text-align: center;
        
    }
    .card-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding: 0px;
    }

    .play-instantly-container {
        flex-direction: column; 
        padding: 10px; 
      }
    
      .play-instantly-tittle,
      .play-instantly-images {
        width: 100%; 
      }
    
      .play-instantly-images2 {
        position: static; 
        bottom: auto;
        right: auto;
        margin-top: 15px; /n mobile */
      }
    }

